body{

font-family:Arial, sans-serif;
background:#f4f4f4;
display:flex;
justify-content:center;

}

.receita{

background:white;
padding:30px;
margin-top:40px;
width:400px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

img{

border-radius:10px;
margin-bottom:20px;

}